.sub-container {
    width: 100%;
    margin: auto;
    display: block;
    text-align: -webkit-center;
    margin: 5vh 0;
}
.sub-h1{
    font-size: 4rem;
    margin-bottom: 20px;
    font-weight: 500;
    margin-bottom: 3vh;
}
.subscribe{
    width: 80vw;
    height: 20vh;
    background-color: blue;
    border: none;
    border-radius: 20px;
    box-shadow: 1px 1px 10px 4px rgba(128, 128, 128, 0.503);

}
.in-sub{
    width: 50vw;
    margin-top: 6vh;
    padding: 20px 15px;
    border: none;
    outline: none;
    border-radius: 15px 0px 0px 15px;
}
.btn-sub{
    background-color: white;
    color: blue;
    padding: 20px 30px;
    border: none;
    border-radius:0px 15px 15px 0px ;
    cursor: pointer;
}
@media screen and (max-width:770px) {
    .subscribe{
        border-radius: 0px;
        width: 100%;
    }
    .in-sub{
        width: 59vw;
    }
}